/* variables*/

$primary-color:#9356dc;
$primary-secondary:#FF79DA;
$primary-Tertiary:#99E2D0;
$font-tiles:'Shrikhand', cursive;
$font-paragraph:'roboto', sans-serif;
$head-shadows: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.096);

/* mixins*/
@mixin box-shadow {
    box-shadow: $head-shadows;
}
@mixin flex-properties($row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $row;
}
@mixin flex-properties-2($row, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $row;
}
@mixin button {
    background: linear-gradient(180deg, rgba(255, 121, 218, 0.9) 31.77%, rgba(147, 86, 220, 0.7) 100%);
    padding: 20px 30px;
    font-size: 30px;
    border-radius: 55px;
    border: none;
    
}
@mixin button-resto {
    background: linear-gradient(180deg, rgba(255, 121, 218, 0.9) 31.77%, rgba(147, 86, 220, 0.7) 100%);
    padding: 10px 100px;
    font-size: 23px;
    border-radius: 55px;
    border: none;
    text-align: center;
    margin: 30px 0;
}
@mixin heading-2 {
    font-size: 40px;
            font-family: $font-paragraph;
            padding-top: 40px;
            font-weight: 700;
}
@mixin icon-style {
    font-size: 25px;
    padding: 0 20px;
    color: #8b8b8b;
}